:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #8B79D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-3dlight-color: #CCDCFF;
}

html,
body {
  scroll-behavior: smooth;
}

h1 {
  position: sticky;
  top: 0;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  background-color: #8B79D9;
  padding: 10px;
  color: #431259;
  text-shadow:1px 2px 2px #CCDCFF;
}

main {
  margin: auto;
}

section {
  padding: 10px;
  background-color: #8B79D9;
}

p {
  background-color: #CCDCFF;
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
  color: #431259;
}

p span {
  margin: 5px;
}

p span:first-child {
  margin-right: 0;
}

.user_msg {
  text-align: right;
  margin-left: 30%;
}

.hide {
  visibility: hidden;
  display: none;
}

.userInpt {
  padding: 10px;
  width: 100%;
  display: flex;
}

.image,
form {
  display: inline-block;
}

.image button{
  background-color:transparent;
  border:none;
}

#mic {
  object-fit: cover;
  height: 2.5em;
}

form {
  position: sticky;
  bottom: 0;
  background-color: #8B79D9;
  padding-bottom: 10px;
  width: 90%;
}

input {
  width: 90%;
  height: 2.5em;
  border: 5px #431259 solid;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #8B79D9;
}

input::placeholder{
  color: #431259;
}

input:focus {
  outline: none;
}

/* audio features */