:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #4B244A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

h1 {
  position:sticky;
  top:0;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  background-color:#4B244A;
  padding:10px;
  color: #6969B3;
}

main{
  margin: auto;
}

section{
  padding:10px;
  background-color:#4B244A;
}

p{
  background-color: #98C1D9;
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
  color: #6969B3;
}

p span{
  margin: 5px;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  /* flex-direction: row-reverse; */ 
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color:#4B244A;
  padding-bottom:10px;
}

input{
  width: 90%;
  height: 2.5em;
  border: 5px #6969B3 solid;
  padding: 10px;
  font-size: 1.2rem;
  background-color:#4B244A;
  color:#98C1D9;
}

input:focus{
  outline: none;
}